/node_modules
/pdftex.js
/pdftex.js.map
/src/binary
/src/install-tl-unx.tar.gz
/src/latex_format
/src/pdftex-1.40.11
/src/pdftex-1.40.11.zip
/src/pdftex.bc
/src/pdftex-worker-generated.js
/src/pdftex-worker.js
/src/pdftex-worker.js.map
/src/pdftex-worker.js.mem
/src/pdftex-worker.data
/src/texlive
/src/texlive-files.js
